<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bh.model.dao.RosterLibraryMapper">
  <resultMap id="BaseResultMap" type="com.bh.model.domain.RosterLibrary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="community_id" jdbcType="INTEGER" property="communityId" />
    <result column="face_pic" jdbcType="VARCHAR" property="facePic" />
    <result column="roster_name" jdbcType="VARCHAR" property="rosterName" />
    <result column="roster_type" jdbcType="INTEGER" property="rosterType" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="roster_phone" jdbcType="VARCHAR" property="rosterPhone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="del_status" jdbcType="INTEGER" property="delStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, community_id, face_pic, roster_name, roster_type, id_number, roster_phone, remark, 
    status, del_status, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bh_roster_library
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bh_roster_library
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.bh.model.domain.RosterLibrary">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_roster_library (community_id, face_pic, roster_name, 
      roster_type, id_number, roster_phone, 
      remark, status, del_status, 
      create_time)
    values (#{communityId,jdbcType=INTEGER}, #{facePic,jdbcType=VARCHAR}, #{rosterName,jdbcType=VARCHAR}, 
      #{rosterType,jdbcType=INTEGER}, #{idNumber,jdbcType=VARCHAR}, #{rosterPhone,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{delStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bh.model.domain.RosterLibrary">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bh_roster_library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="communityId != null">
        community_id,
      </if>
      <if test="facePic != null">
        face_pic,
      </if>
      <if test="rosterName != null">
        roster_name,
      </if>
      <if test="rosterType != null">
        roster_type,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="rosterPhone != null">
        roster_phone,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="delStatus != null">
        del_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="communityId != null">
        #{communityId,jdbcType=INTEGER},
      </if>
      <if test="facePic != null">
        #{facePic,jdbcType=VARCHAR},
      </if>
      <if test="rosterName != null">
        #{rosterName,jdbcType=VARCHAR},
      </if>
      <if test="rosterType != null">
        #{rosterType,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="rosterPhone != null">
        #{rosterPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null">
        #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bh.model.domain.RosterLibrary">
    update bh_roster_library
    <set>
      <if test="communityId != null">
        community_id = #{communityId,jdbcType=INTEGER},
      </if>
      <if test="facePic != null">
        face_pic = #{facePic,jdbcType=VARCHAR},
      </if>
      <if test="rosterName != null">
        roster_name = #{rosterName,jdbcType=VARCHAR},
      </if>
      <if test="rosterType != null">
        roster_type = #{rosterType,jdbcType=INTEGER},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="rosterPhone != null">
        roster_phone = #{rosterPhone,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="delStatus != null">
        del_status = #{delStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bh.model.domain.RosterLibrary">
    update bh_roster_library
    set community_id = #{communityId,jdbcType=INTEGER},
      face_pic = #{facePic,jdbcType=VARCHAR},
      roster_name = #{rosterName,jdbcType=VARCHAR},
      roster_type = #{rosterType,jdbcType=INTEGER},
      id_number = #{idNumber,jdbcType=VARCHAR},
      roster_phone = #{rosterPhone,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      del_status = #{delStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>